:root {
  --primary: #974489;
  --secondary: #14429F;
  --tertiary: #4C2E83;
  --btn: #00B9CF;
  --white: #FFFFFF;
  --black: #000000;
  --primary-font: forma-djr-display, sans-serif;
  --vertical-padding: 7.5rem;
  --horizontal-padding: 6rem;
  --general-spacing: 5.556rem;
}

.navbar {
  position: relative;
  -webkit-animation: fadeIn 1s ease-in 0s;
          animation: fadeIn 1s ease-in 0s;
}

.navbar * {
  font-weight: 700;
}

.navbar .pb-5, .py-5 {
  padding: 4rem 1rem !important;
}

.navbar-light .navbar-brand {
  margin: 0;
  font-size: 1.4rem;
  color: var(--black);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--black);
  font-size: 1.1rem;
  border: 2px solid transparent;
  -webkit-transition: border .01s ease-in 0s, color .01s ease-in 0s;
  transition: border .01s ease-in 0s, color .01s ease-in 0s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .navbar .pb-5, .py-5 {
    padding: 4rem 0rem !important;
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link:active,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    border: 2px solid var(--black);
    color: var(--black);
  }
}

.mainstage .img-fluid {
  width: 100%;
  -webkit-animation: fromLeft .8s ease-in 0s;
          animation: fromLeft .8s ease-in 0s;
  position: relative;
}

.mainstage h1 {
  -webkit-animation: fadeIn 2s ease-in 0s;
          animation: fadeIn 2s ease-in 0s;
}

@-webkit-keyframes fromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes fromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.main {
  max-width: 32rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}

.content {
  margin-bottom: 8rem;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 Breakpoints
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main {
    max-width: 33rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    max-width: 42rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main {
    max-width: 50rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    max-width: 83rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1.2rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  font-weight: 400;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  background-image: url("/assets/navbar-accent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 33rem;
  width: 100%;
  z-index: -1;
}

li {
  list-style-type: none;
}

p {
  font-weight: 500;
  font-size: 1.2rem;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 2.6rem;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 Breakpoints
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */