// VARIABLES 

:root {
    --primary: #974489; 
    --secondary: #14429F; 
    --tertiary: #4C2E83;
    --btn: #00B9CF;
    --white: #FFFFFF;
    --black: #000000;
    --border: #D3D3D3;
    --primary-font: forma-djr-display, sans-serif; 
    --vertical-padding: 7.5rem;
    --horizontal-padding: 6rem;
    --general-spacing: 5.556rem;
}

