// VARIABLES 

:root {
    --primary: #663399; 
    --secondary: #14429F; 
    --tertiary: #7016E5;
    --btn: #00B9CF;
    --white: #FFFFFF;
    --black: #000000;
    --border: #D3D3D3;
    --primary-font: forma-djr-display, sans-serif; 
}

