// RECENT WORK

.recent-work {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
}

.recent-work h4 {
    letter-spacing: .1rem;
}

.recent-work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/work-accent.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    width: 100%;
    z-index: -1;
}

.recent-work::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
    height: 95%;
    width: 100%;
    z-index: -1;
}

.recent-work li {
    position: relative;
    width: 100%;
}

.recent-work li:not(:last-child) {
    margin-bottom: 2rem;
}

.recent-work li .desc-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    height: 102%;
    width: 102%;
    opacity: 0;
    transition: .4s ease;
}

.recent-work li .desc-con > div {
    position: relative;
    top: calc(100% - 8.5rem);
}

.recent-work li .desc-con p {
    padding: 0 1rem;
    text-align: center;
    margin-bottom: .5rem;
}

.recent-work li .desc-con a {
    background-color: var(--btn);
    font-size: 1rem;
}

.recent-work li .desc-con a:hover {
    background-color: var(--secondary);
}

.recent-work li:hover .desc-con {
    opacity: 1;
    background-color: var(--primary);
}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 Breakpoints
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

    .recent-work li {
        width: 48%;
        margin-bottom: 2rem;
    }
    
    .recent-work::before {
        height: 27rem;
    }

    .recent-work::after {
        height: 90%;
    }
    
    .recent-work li .desc-con > div {
        top: calc(100% - 7.1rem);
    }

    .recent-work li .desc-con p {
        font-size: 1rem;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .recent-work li {
        width: 48%;
    }

    .recent-work li .desc-con > div {
        top: calc(100% - 9rem);
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .recent-work li {
        margin-bottom: 2rem;
    }

    .recent-work li .desc-con > div {
        top: calc(100% - 10.5rem);
    }

    .recent-work li .desc-con p {
        font-size: 1.2rem;
    }
    
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
    .recent-work {
        padding-bottom: 5rem;
    }

    .recent-work::after {
        height: 78%;
    }

    .recent-work li {
        width: 24%;
    }

    .recent-work li .desc-con p {
        font-size: 1.2rem;
    }

    .recent-work li .desc-con > div {
        top: calc(100% - 10.5rem);
    }
    
    
}
